# **Importando bibliotecas**

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

# **Carregando Dataset**

In [4]:
# Carregar o conjunto de dados
df = pd.read_csv('/content/titles.csv')

# Visualizar as primeiras linhas do conjunto de dados
print(df.head(5))

         id               title   type  \
0  tm155702    The Wizard of Oz  MOVIE
1   tm83648        Citizen Kane  MOVIE
2   tm77588          Casablanca  MOVIE
3   tm82363       The Big Sleep  MOVIE
4   tm84701  The Maltese Falcon  MOVIE

                                         description  release_year  \
0  Young Dorothy finds herself in a magical world...          1939
1  Newspaper magnate, Charles Foster Kane is take...          1941
2  In Casablanca, Morocco in December 1941, a cyn...          1942
3  Private Investigator Philip Marlowe is hired b...          1946
4  A private detective takes on a case that invol...          1941

  age_certification  runtime                            genres  \
0                 G      102             ['fantasy', 'family']
1                PG      119                         ['drama']
2                PG      102       ['drama', 'romance', 'war']
3               NaN      116             ['thriller', 'crime']
4               NaN      100  ['thriller', 'romance', 'crime']

  production_countries  seasons    imdb_id  imdb_score  imdb_votes  \
0               ['US']      NaN  tt0032138         8.1    389774.0
1               ['US']      NaN  tt0033467         8.3    433804.0
2               ['US']      NaN  tt0034583         8.5    558849.0
3               ['US']      NaN  tt0038355         7.9     84494.0
4               ['US']      NaN  tt0033870         8.0    156603.0

   tmdb_popularity  tmdb_score
0           41.442         7.6
1           14.383         8.0
2           20.087         8.2
3           12.911         7.7
4           12.788         7.8

In [5]:
# Ordenar os títulos pela pontuação no IMDB em ordem decrescente
top_imdb_scores = df.sort_values(by='imdb_score', ascending=False)

# Ordenar os títulos pela popularidade no TMDB em ordem decrescente
top_tmdb_popularity = df.sort_values(by='tmdb_popularity', ascending=False)

# Ordenar os títulos pelo número de votos no IMDB em ordem decrescente
top_imdb_votes = df.sort_values(by='imdb_votes', ascending=False)

# Visualizar os títulos mais populares
print("Top 10 títulos com maior pontuação no IMDB:")
print(top_imdb_scores[['title', 'imdb_score']].head(10))

print("\nTop 10 títulos com maior popularidade no TMDB:")
print(top_tmdb_popularity[['title', 'tmdb_popularity']].head(10))

print("\nTop 10 títulos com mais votos no IMDB:")
print(top_imdb_votes[['title', 'imdb_votes']].head(10))

Top 10 títulos com maior pontuação no IMDB:
                         title  imdb_score
1038          Band of Brothers         9.4
2531                 Chernobyl         9.4
1030                  The Wire         9.3
2330                    Lamput         9.3
725   The Shawshank Redemption         9.3
712               The Sopranos         9.2
2275         Emergency Contact         9.2
1878            Rick and Morty         9.2
669          Eyes on the Prize         9.2
1706           Game of Thrones         9.2

Top 10 títulos com maior popularidade no TMDB:
                         title  tmdb_popularity
2974                The Batman         4447.894
2987                  The Baby          757.816
2991  The Matrix Resurrections          641.541
3016                      Kimi          565.886
2997            The King's Man          559.090
3005           Superman & Lois          527.634
1706           Game of Thrones          492.101
2529                  Euphoria          445.399
2990                  Free Guy          398.516
2978         Death on the Nile          386.008

Top 10 títulos com mais votos no IMDB:
                                                  title  imdb_votes
1035                                    The Dark Knight   2555504.0
725                            The Shawshank Redemption   2548100.0
1051                                          Inception   2268288.0
1706                                    Game of Thrones   1983794.0
732                                          The Matrix   1857949.0
1033  The Lord of the Rings: The Fellowship of the Ring   1798012.0
1209      The Lord of the Rings: The Return of the King   1776725.0
1151              The Lord of the Rings: The Two Towers   1604677.0
716                                               Se7en   1586065.0
1045                                      Batman Begins   1426616.0